.left {
  margin: 0 auto;
}

.navbar {
  overflow: hidden;
  background-color: burlywood;
  display: flex; 
  justify-content: space-between; 
}

.navbar a {
  flex: 1; 
  display: block;
  color: beige;
  text-align: center;
  padding: 10px 15px;
  text-decoration: dotted;
}

.navbar a:hover {
  background-color: rgb(168, 64, 64);
  color: beige;
}

.body {
  color: burlywood;
}

.header {
  padding: 40px; 
  text-align: center;
  background: lightblue;
  color: white;
}

.header h1 {
  font-size: 28px; 
  box-sizing: border-box;
}

.center {
  margin: 0 auto;
  border: 2px solid lightblue;
  background-color: lightblue;
  width: 100%;
}

th, td {
  border: 1px solid #543821;
  padding: 8px;
  text-align: center;
  color: white;
}

th {
  background-color: burlywood;
}


@media screen and (max-width: 767px) {
  .navbar a {
    padding: 8px 12px;
  }
  .center {
    margin-top: 20px; 
  }
  th, td {
    padding: 6px; 
  }
}