.navbar {
  overflow: hidden;
  background-color: burlywood;
}

.navbar a {
  float: left;
  display: block;
  color: beige;
  text-align: center;
  padding: 10px 15px; /* Adjust padding for smaller screens */
  text-decoration: dotted;
}

.navbar a.right {
  float: right;
}

.navbar a:hover {
  background-color: rgb(168, 64, 64);
  color: beige;
}

.header {
  padding: 40px; /* Adjust padding for smaller screens */
  text-align: center;
  background: lightblue;
  color: white;
}

.header h1 {
  font-size: 28px; /* Adjust font size for smaller screens */
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 1; /* Make sidebar take up the remaining space */
  background-color: beige;
  padding: 15px; /* Adjust padding for smaller screens */
}

.main {
  flex: 2; /* Make main content take up more space */
  background-color: darkkhaki;
  padding: 15px; /* Adjust padding for smaller screens */
}

.body {
  font-family: Arial, Helvetica, sans-serif;
  color: burlywood;
}

@media screen and (max-width: 767px) {
  .navbar a {
    padding: 8px 12px;
  }
  .row {
    flex-direction: column;
  }
  .side {
    flex: 0; /* Hide sidebar on small screens */
  }
  .main {
    flex: 1;
  }
}

@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
  .header h1 {
    font-size: 24px;
  }
}