body {
  background-color: lightblue;
  color: lightblue;
}

.side {
  padding: 20px; 
  text-align: center;
  background-color: lightblue;
  color: white;
}

.main {
  text-align: center;
  background-color: lightblue;
  color: white;
  text-size-adjust: auto;
}

.navbar {
    overflow: hidden;
    background-color: burlywood;
    display: flex; 
    justify-content: space-between; 
  }
  
  .navbar a {
    flex: 1; 
    display: block;
    color: beige;
    text-align: center;
    padding: 10px 15px;
    text-decoration: dotted;
  }
  
  .navbar a:hover {
    background-color: rgb(168, 64, 64);
    color: beige;
  }

.container {
  display: flex;
  align-items: center;
}

img {
  max-width: 100%; 
  height: auto;
}

.mops {
  background-color: lightblue;
  color: beige;
  padding: 40px; 
}

.container p {
  background-color: lightblue;
  padding: 40px; 
  color: white;
  font-size: 18px; 
}

.header {
  text-align: center;
  background-color: lightblue;
  text-size-adjust: auto;
  color: white;
  font-size: 24px; 
}


@media screen and (max-width: 767px) {
  .navbar a {
    padding: 8px 12px;
  }
  .container {
    flex-direction: column; 
  }
  .mops {
    padding: 20px;
  }
  .container p {
    font-size: 16px;
  }
  .header {
    font-size: 20px;
  }
}